## Import libraries

In [1]:
import pandas as pd

## Read data

In [2]:
df = pd.read_excel(
    "../data/who_ambient_air_quality_database_version_2024.xlsx", sheet_name="data"
)

In [3]:
df.head(10)

,who_region,iso3,country_name,city,year,version,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,type_of_stations,reference,web_link,population,population_source,latitude,longitude,who_ms
0,4_Eur,ESP,Spain,A Coruna/ESP,2013.0,"V4.0 (2018), V4.0 (2018), V4.0 (2018), V4.0 (2...",23.238,11.491,28.841,87.0,46.0,93.0,"Urban, Urban, Suburban",NaN,NaN,246146.0,"manual, manual, manual, manual",43.367900,-8.418571,1
1,4_Eur,ESP,Spain,A Coruna/ESP,2014.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023)",27.476,15.878,19.575,96.0,88.0,95.0,"Urban, Urban, Suburban",NaN,NaN,247604.0,NaN,43.368033,-8.418233,1
2,4_Eur,ESP,Spain,A Coruna/ESP,2015.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023), V6.0...",25.515,14.004,22.731,98.0,71.0,98.0,"Urban, Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.370375,-8.422900,1
3,4_Eur,ESP,Spain,A Coruna/ESP,2016.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023), V6.0...",23.057,13.160,20.204,98.0,98.0,98.0,"Urban, Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.370375,-8.422900,1
4,4_Eur,ESP,Spain,A Coruna/ESP,2017.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023), V6.0...",26.849,14.114,21.543,97.0,97.0,98.0,"Urban, Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.370375,-8.422900,1
5,4_Eur,ESP,Spain,A Coruna/ESP,2018.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023), V6.0...",27.763,14.876,20.328,98.0,86.0,99.0,"Urban, Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.370375,-8.422900,1
6,4_Eur,ESP,Spain,A Coruna/ESP,2019.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023), V6.0...",26.912,13.017,18.339,98.0,95.0,98.0,"Urban, Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.370375,-8.422900,1
7,4_Eur,ESP,Spain,A Coruna/ESP,2020.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023)",24.900,12.926,13.749,99.0,98.0,99.0,"Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.371467,-8.423667,1
8,4_Eur,ESP,Spain,A Coruna/ESP,2021.0,"V6.0 (2023), V6.0 (2023), V6.0 (2023)",23.228,11.617,15.670,99.0,98.0,99.0,"Urban, Suburban, Suburban",NaN,NaN,247604.0,NaN,43.371467,-8.423667,1
9,6_Wpr,CHN,China,A La Shan Zuo Qi/CHN,2015.0,V5.0 (2022),NaN,33.015,NaN,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,38.839500,105.692150,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40098 entries, 0 to 40097
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   who_region          40098 non-null  object
 1   iso3                40098 non-null  object
 2   country_name        40098 non-null  object
 3   city                40098 non-null  object
 4   year                40095 non-null  float64
 5   version             40098 non-null  object
 6   pm10_concentration  28672 non-null  float64
 7   pm25_concentration  21730 non-null  float64
 8   no2_concentration   26934 non-null  float64
 9   pm10_tempcov        22403 non-null  float64
 10  pm25_tempcov        16590 non-null  float64
 11  no2_tempcov         23402 non-null  float64
 12  type_of_stations    23331 non-null  object
 13  reference           6652 non-null   object
 14  web_link            1790 non-null   object
 15  population          22433 non-null  float64
 16  population_source   18102 non-null  object
 17  latitude            40098 non-null  float64
 18  longitude           40098 non-null  float64
 19  who_ms              40098 non-null  int64
dtypes: float64(10), int64(1), object(9)
memory usage: 6.1+ MB

In [5]:
df["who_region"].value_counts()

who_region
4_Eur      26801
2_Amr       6321
6_Wpr       4691
3_Sear      1608
5_Emr        426
1_Afr        203
7_NonMS       48
Name: count, dtype: int64

## Inspect nulls

In [6]:
# List of columns to check
cols = [
    "pm10_concentration",
    "pm25_concentration",
    "no2_concentration",
    "pm10_tempcov",
    "pm25_tempcov",
    "no2_tempcov",
]

# Count nulls per country (iso3)
null_summary = df.groupby("iso3")[cols].apply(lambda x: x.isna().sum())

null_summary

,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov
iso3,,,,,,
AFG,1,0,1,1,0,1
ALB,12,12,2,12,12,2
AND,0,9,0,1,9,0
ARE,1,31,0,33,31,36
ARG,1,10,2,1,10,2
...,...,...,...,...,...,...
USA,1975,532,2437,3888,3888,3888
UZB,2,0,2,2,0,2
VEN,1,2,3,3,3,3
VNM,15,19,34,34,23,34
ZAF,23,46,48,31,31,32

In [7]:
def show_missing_values(df):
    # Define the 6 pollution columns
    cols = [
        "pm10_concentration",
        "pm25_concentration",
        "no2_concentration",
        "pm10_tempcov",
        "pm25_tempcov",
        "no2_tempcov",
    ]

    # ---- Per City ----
    city_missing = df.groupby("city")[cols].apply(lambda x: x.isna().mean() * 100)
    city_missing["avg_missing_%"] = city_missing.mean(axis=1)  # average across 6 cols

    # ---- Per Country ----
    country_missing = df.groupby("iso3")[cols].apply(lambda x: x.isna().mean() * 100)
    country_missing["avg_missing_%"] = country_missing.mean(axis=1)

    # Sort to see who has the most nulls
    city_missing = city_missing.sort_values("avg_missing_%", ascending=False)
    country_missing = country_missing.sort_values("avg_missing_%", ascending=False)
    return city_missing, country_missing

In [8]:
city_missing, country_missing = show_missing_values(df)

In [9]:
city_missing

,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,avg_missing_%
city,,,,,,,
Al-Jouf Region/SAU,25.0,100.0,100.0,100.0,100.0,100.0,87.5
Glenwood Springs CO/USA,25.0,100.0,100.0,100.0,100.0,100.0,87.5
Ponca City OK/USA,100.0,25.0,100.0,100.0,100.0,100.0,87.5
Fairmont WV/USA,100.0,25.0,100.0,100.0,100.0,100.0,87.5
Lima OH/USA,100.0,25.0,100.0,100.0,100.0,100.0,87.5
...,...,...,...,...,...,...,...
Sao Bartolomeu/PRT,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Sarria/ESP,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Czestochowa/POL,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Satun/THA,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Coruna/ESP,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
country_missing

,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,avg_missing_%
iso3,,,,,,,
PRI,8.000000,96.000000,100.000000,100.000000,100.000000,100.000000,84.000000
TUN,0.000000,100.000000,100.000000,100.000000,100.000000,100.000000,83.333333
VEN,33.333333,66.666667,100.000000,100.000000,100.000000,100.000000,83.333333
PRY,100.000000,0.000000,100.000000,100.000000,100.000000,100.000000,83.333333
EGY,0.000000,100.000000,100.000000,100.000000,100.000000,100.000000,83.333333
...,...,...,...,...,...,...,...
QAT,0.000000,0.000000,28.571429,28.571429,0.000000,28.571429,14.285714
MLT,19.512195,12.195122,2.439024,24.390244,19.512195,2.439024,13.414634
IDN,14.285714,0.000000,21.428571,17.857143,3.571429,21.428571,13.095238
EST,31.250000,1.250000,1.250000,32.500000,2.500000,1.250000,11.666667
LVA,0.000000,5.660377,9.433962,0.000000,5.660377,9.433962,5.031447

## Drop columns

In [11]:
def drop_redundant_columns(df):
    df = df.drop(
        columns=[
            "version",
            "reference",
            "web_link",
            "population_source",
            "type_of_stations",
        ]
    )
    return df

## Adjust datatypes

In [12]:
def adjust_datatypes(df):
    df = df.dropna(subset=["year"])
    df["year"] = df["year"].astype(int)
    return df

## Replace Values

In [13]:
def replace_values(df):
    replace_dict = {
        "1_Afr": "Africa",
        "2_Amr": "America",
        "3_Sear": "South_East_Asia",
        "4_Eur": "Europe",
        "5_Emr": "Eastern_Mediterranean",
        "6_Wpr": "Western_Pacific",
        "7_NonMS": "Non_member",
    }

    df["who_region"] = df["who_region"].replace(replace_dict)
    return df

## Clean data

In [14]:
# drop columns
df_drop_columns = drop_redundant_columns(df)

# adjust datatypes
df_adjust = adjust_datatypes(df_drop_columns)

# replace_values
df_replace = replace_values(df_adjust)

C:\Users\Admin\AppData\Local\Temp\ipykernel_65948\518066705.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"] = df["year"].astype(int)
C:\Users\Admin\AppData\Local\Temp\ipykernel_65948\3039369499.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["who_region"] = df["who_region"].replace(replace_dict)

In [15]:
df_replace.head()

,who_region,iso3,country_name,city,year,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,population,latitude,longitude,who_ms
0,Europe,ESP,Spain,A Coruna/ESP,2013,23.238,11.491,28.841,87.0,46.0,93.0,246146.0,43.367900,-8.418571,1
1,Europe,ESP,Spain,A Coruna/ESP,2014,27.476,15.878,19.575,96.0,88.0,95.0,247604.0,43.368033,-8.418233,1
2,Europe,ESP,Spain,A Coruna/ESP,2015,25.515,14.004,22.731,98.0,71.0,98.0,247604.0,43.370375,-8.422900,1
3,Europe,ESP,Spain,A Coruna/ESP,2016,23.057,13.160,20.204,98.0,98.0,98.0,247604.0,43.370375,-8.422900,1
4,Europe,ESP,Spain,A Coruna/ESP,2017,26.849,14.114,21.543,97.0,97.0,98.0,247604.0,43.370375,-8.422900,1

# Handling nulls

## Step 1: Handling nulls with 70% cutoff

In [16]:
def handle_missing_cities(df, cutoff=70):
    # Define pollution columns
    cols = [
        "pm10_concentration",
        "pm25_concentration",
        "no2_concentration",
        "pm10_tempcov",
        "pm25_tempcov",
        "no2_tempcov",
    ]

    # Calculate missing percentage per city
    city_missing = df.groupby("city")[cols].apply(lambda x: x.isna().mean() * 100)
    city_missing["avg_missing_%"] = city_missing.mean(axis=1)

    # Identify bad cities
    bad_cities = city_missing[city_missing["avg_missing_%"] > cutoff].index.tolist()

    # Drop them
    initial_rows = len(df)
    df_clean = df[~df["city"].isin(bad_cities)].copy()
    final_rows = len(df_clean)

    eliminated = initial_rows - final_rows
    eliminated_pct = (eliminated / initial_rows) * 100

    # ---- Print report ----
    print("----- Step 1: Handling nulls with cutoff (Cities) -----")
    print(f"Cutoff threshold       : {cutoff}%")
    print(f"Initial rows           : {initial_rows}")
    print(f"Final rows             : {final_rows}")
    print(f"Eliminated rows        : {eliminated}")
    print(f"Eliminated percentage  : {eliminated_pct:.2f}%")
    print("------------------------------------------")

    return df_clean, bad_cities

In [17]:
df_handle_nulls_1, _ = handle_missing_cities(df_replace, 70)

----- Step 1: Handling nulls with cutoff (Cities) -----
Cutoff threshold       : 70%
Initial rows           : 40095
Final rows             : 35975
Eliminated rows        : 4120
Eliminated percentage  : 10.28%
------------------------------------------

In [18]:
city_missing_after_process_1, country_missing_after_process_1 = show_missing_values(
    df_handle_nulls_1
)

In [19]:
city_missing_after_process_1

,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,avg_missing_%
city,,,,,,,
Jiamusi/CHN,100.0,0.0,100.0,100.0,20.0,100.0,70.0
Babylon/IRQ,60.0,60.0,0.0,100.0,100.0,100.0,70.0
Taizhou Jiangsu/CHN,60.0,0.0,100.0,100.0,60.0,100.0,70.0
Rengo/CHL,0.0,80.0,100.0,60.0,80.0,100.0,70.0
Jacarei/BRA,0.0,100.0,20.0,100.0,100.0,100.0,70.0
...,...,...,...,...,...,...,...
Newcastle Lower Hunter/AUS,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Neuwied/DEU,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Neuilly Saint Front/FRA,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Navan/IRL,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Lourinha/PRT,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
country_missing_after_process_1

,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,avg_missing_%
iso3,,,,,,,
IRQ,38.461538,69.230769,23.076923,92.307692,92.307692,100.000000,69.230769
SLV,100.000000,0.000000,100.000000,100.000000,12.500000,100.000000,68.750000
MAR,0.000000,100.000000,44.444444,66.666667,100.000000,100.000000,68.518519
VNM,100.000000,0.000000,100.000000,100.000000,9.090909,100.000000,68.181818
CUB,50.000000,50.000000,100.000000,50.000000,50.000000,100.000000,66.666667
...,...,...,...,...,...,...,...
MLT,19.512195,12.195122,2.439024,24.390244,19.512195,2.439024,13.414634
ISL,8.571429,28.571429,0.000000,11.428571,28.571429,0.000000,12.857143
EST,31.250000,1.250000,1.250000,32.500000,2.500000,1.250000,11.666667
IDN,11.111111,0.000000,18.518519,14.814815,0.000000,18.518519,10.493827
LVA,0.000000,5.660377,9.433962,0.000000,5.660377,9.433962,5.031447

## Step 2: Fill nulls with linear interpolation + ffill/bfill

In [21]:
def fill_missing_city_time(df):
    # Define pollution columns
    cols = [
        "pm10_concentration",
        "pm25_concentration",
        "no2_concentration",
        "pm10_tempcov",
        "pm25_tempcov",
        "no2_tempcov",
    ]

    # Count missing values before
    missing_before = df[cols].isna().sum().sum()

    # Make a copy and sort
    df_filled = df.sort_values(["iso3", "city", "year"]).copy()

    # Ensure year is numeric
    df_filled["year"] = pd.to_numeric(df_filled["year"], errors="coerce")

    # Fill per city with interpolation + ffill/bfill
    df_filled[cols] = df_filled.groupby(["iso3", "city"], group_keys=False)[cols].apply(
        lambda g: g.interpolate(method="linear", limit_direction="both").ffill().bfill()
    )

    # Count missing values after
    missing_after = df_filled[cols].isna().sum().sum()

    # Calculate how many were filled
    filled_count = missing_before - missing_after

    print(
        "----- Step 2: Fill Missing Values with linear interpolation (City-Time) -----"
    )
    print(f"Missing before : {missing_before}")
    print(f"Missing after  : {missing_after}")
    print(f"Values filled  : {filled_count}")
    print("--------------------------------------------------")
    return df_filled

In [22]:
df_handle_nulls_2 = fill_missing_city_time(df_handle_nulls_1)

----- Step 2: Fill Missing Values with linear interpolation (City-Time) -----
Missing before : 80828
Missing after  : 62017
Values filled  : 18811
--------------------------------------------------

In [23]:
city_missing_after_process_2, country_missing_after_process_2 = show_missing_values(
    df_handle_nulls_2
)

In [24]:
city_missing_after_process_2

,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,avg_missing_%
city,,,,,,,
Jiang Nan Da Dao/CHN,100.0,0.0,100.0,100.0,0.0,100.0,66.666667
Juupajoki/FIN,100.0,100.0,0.0,100.0,100.0,0.0,66.666667
Urfa/TUR,0.0,100.0,100.0,0.0,100.0,100.0,66.666667
Kadapa/IND,0.0,100.0,0.0,100.0,100.0,100.0,66.666667
Kaduna/NGA,100.0,0.0,100.0,100.0,0.0,100.0,66.666667
...,...,...,...,...,...,...,...
Manresa/ESP,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
Mansue/ITA,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
Mantova/ITA,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
Maranello/ITA,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
Lourinha/PRT,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [25]:
country_missing_after_process_2

,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,avg_missing_%
iso3,,,,,,,
AFG,100.0,0.000000,100.000000,100.0,0.000000,100.000000,66.666667
ETH,100.0,0.000000,100.000000,100.0,0.000000,100.000000,66.666667
DOM,0.0,0.000000,100.000000,100.0,100.000000,100.000000,66.666667
FJI,100.0,0.000000,100.000000,100.0,0.000000,100.000000,66.666667
GHA,0.0,100.000000,100.000000,0.0,100.000000,100.000000,66.666667
...,...,...,...,...,...,...,...
BGD,0.0,0.000000,6.451613,0.0,0.000000,6.451613,2.150538
THA,0.0,1.282051,4.487179,0.0,1.282051,4.487179,1.923077
MCO,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
SGP,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
LVA,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000

In [26]:
df_handle_nulls_2

,who_region,iso3,country_name,city,year,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,population,latitude,longitude,who_ms
16488,Eastern_Mediterranean,AFG,Afghanistan,Kabul/AFG,2019,NaN,119.774,NaN,NaN,18.0,NaN,4221532.0,34.535810,69.190510,1
9878,Europe,ALB,Albania,Durres/ALB,2014,13.854,7.742,36.734,40.0,40.0,9.0,NaN,41.319900,19.449200,1
9879,Europe,ALB,Albania,Durres/ALB,2015,17.648,12.595,26.634,79.0,73.0,84.0,NaN,41.319900,19.449200,1
9880,Europe,ALB,Albania,Durres/ALB,2016,24.559,14.323,24.785,84.0,75.0,88.0,NaN,41.319900,19.449200,1
9881,Europe,ALB,Albania,Durres/ALB,2017,25.516,14.670,23.213,52.0,46.0,50.0,NaN,41.319900,19.449200,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37940,Africa,ZAF,South Africa,West Coast/ZAF,2017,20.490,6.833,8.720,1.0,1.0,1.0,NaN,-33.001108,17.944911,1
37941,Africa,ZAF,South Africa,West Coast/ZAF,2018,17.995,6.097,7.150,1.0,1.0,1.0,NaN,-33.001108,17.944911,1
37960,Africa,ZAF,South Africa,West Rand/ZAF,2016,NaN,NaN,17.850,NaN,NaN,1.0,897609.0,-26.170207,27.806491,1
38250,Africa,ZAF,South Africa,Witbank/ZAF,2014,30.201,16.171,NaN,NaN,NaN,NaN,454301.0,-25.877850,29.186415,1
39416,Africa,ZAF,South Africa,Zamdela/ZAF,2014,56.455,29.813,NaN,NaN,NaN,NaN,113368.0,-26.845078,27.855732,1

## Step 3: Fill nulls with country's mean

In [27]:
def fill_missing_country_means(df):
    cols = [
        "pm10_concentration",
        "pm25_concentration",
        "no2_concentration",
        "pm10_tempcov",
        "pm25_tempcov",
        "no2_tempcov",
    ]

    df_filled = df.copy()

    # Count missing before (total and per-col)
    missing_before_total = df_filled[cols].isna().sum().sum()
    missing_before_cols = df_filled[cols].isna().sum()

    # Ensure year is numeric (if needed)
    df_filled["year"] = pd.to_numeric(df_filled["year"], errors="coerce")

    # 1) Fill using (iso3, year) mean
    for c in cols:
        by_country_year = df_filled.groupby(["iso3", "year"], observed=True)[
            c
        ].transform("mean")
        df_filled[c] = df_filled[c].fillna(by_country_year)

    # 2) Fallback: fill using iso3-wide mean
    for c in cols:
        by_country = df_filled.groupby("iso3", observed=True)[c].transform("mean")
        df_filled[c] = df_filled[c].fillna(by_country)

    # Count missing after (total and per-col)
    missing_after_total = df_filled[cols].isna().sum().sum()
    missing_after_cols = df_filled[cols].isna().sum()

    # Compute filled counts
    filled_total = missing_before_total - missing_after_total
    filled_per_col = (missing_before_cols - missing_after_cols).to_dict()

    # Print report
    print("----- Step 3: Country-Level Imputation -----")
    print(f"Missing before (total): {missing_before_total}")
    print(f"Missing after  (total): {missing_after_total}")
    print(f"Values filled (total):  {filled_total}")
    print("Filled per column:")
    for k, v in filled_per_col.items():
        print(f"  - {k}: {v}")
    print("--------------------------------------------")

    return df_filled

In [28]:
df_handle_nulls_3 = fill_missing_country_means(df_handle_nulls_2)

----- Step 3: Country-Level Imputation -----
Missing before (total): 62017
Missing after  (total): 7657
Values filled (total):  54360
Filled per column:
  - pm10_concentration: 6476
  - pm25_concentration: 12262
  - no2_concentration: 6181
  - pm10_tempcov: 9127
  - pm25_tempcov: 12651
  - no2_tempcov: 7663
--------------------------------------------

In [29]:
df_handle_nulls_3

,who_region,iso3,country_name,city,year,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,population,latitude,longitude,who_ms
16488,Eastern_Mediterranean,AFG,Afghanistan,Kabul/AFG,2019,NaN,119.774000,NaN,NaN,18.0,NaN,4221532.0,34.535810,69.190510,1
9878,Europe,ALB,Albania,Durres/ALB,2014,13.854000,7.742000,36.734,40.0,40.0,9.0,NaN,41.319900,19.449200,1
9879,Europe,ALB,Albania,Durres/ALB,2015,17.648000,12.595000,26.634,79.0,73.0,84.0,NaN,41.319900,19.449200,1
9880,Europe,ALB,Albania,Durres/ALB,2016,24.559000,14.323000,24.785,84.0,75.0,88.0,NaN,41.319900,19.449200,1
9881,Europe,ALB,Albania,Durres/ALB,2017,25.516000,14.670000,23.213,52.0,46.0,50.0,NaN,41.319900,19.449200,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37940,Africa,ZAF,South Africa,West Coast/ZAF,2017,20.490000,6.833000,8.720,1.0,1.0,1.0,NaN,-33.001108,17.944911,1
37941,Africa,ZAF,South Africa,West Coast/ZAF,2018,17.995000,6.097000,7.150,1.0,1.0,1.0,NaN,-33.001108,17.944911,1
37960,Africa,ZAF,South Africa,West Rand/ZAF,2016,44.231727,21.078545,17.850,1.0,1.0,1.0,897609.0,-26.170207,27.806491,1
38250,Africa,ZAF,South Africa,Witbank/ZAF,2014,30.201000,16.171000,23.959,1.0,1.0,1.0,454301.0,-25.877850,29.186415,1
39416,Africa,ZAF,South Africa,Zamdela/ZAF,2014,56.455000,29.813000,23.959,1.0,1.0,1.0,113368.0,-26.845078,27.855732,1

## Step 4: Fill nulls with KNNImputer

In [30]:
from sklearn.impute import KNNImputer

In [31]:
def fill_missing_knn(df, n_neighbors=5):
    cols = [
        "pm10_concentration",
        "pm25_concentration",
        "no2_concentration",
        "pm10_tempcov",
        "pm25_tempcov",
        "no2_tempcov",
    ]

    df_filled = df.copy()

    # Count missing before
    missing_before = df_filled[cols].isna().sum().sum()

    # Apply KNN imputer
    imputer = KNNImputer(n_neighbors=n_neighbors, weights="distance")
    df_filled[cols] = imputer.fit_transform(df_filled[cols])

    # Count missing after
    missing_after = df_filled[cols].isna().sum().sum()
    filled_count = missing_before - missing_after

    # Print report
    print("----- Step 4: KNN Imputation -----")
    print(f"Missing before : {missing_before}")
    print(f"Missing after  : {missing_after}")
    print(f"Values filled  : {filled_count}")
    print("----------------------------------")

    return df_filled

In [32]:
df_handle_nulls_4 = fill_missing_knn(df_handle_nulls_3, 5)

----- Step 4: KNN Imputation -----
Missing before : 7657
Missing after  : 0
Values filled  : 7657
----------------------------------

In [33]:
df_handle_nulls_4.isna().sum()

who_region                0
iso3                      0
country_name              0
city                      0
year                      0
pm10_concentration        0
pm25_concentration        0
no2_concentration         0
pm10_tempcov              0
pm25_tempcov              0
no2_tempcov               0
population            16789
latitude                  0
longitude                 0
who_ms                    0
dtype: int64

In [34]:
df_handle_nulls_4.head()

,who_region,iso3,country_name,city,year,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,population,latitude,longitude,who_ms
16488,Eastern_Mediterranean,AFG,Afghanistan,Kabul/AFG,2019,39.701,119.774,14.949,67.311111,18.0,19.056359,4221532.0,34.53581,69.19051,1
9878,Europe,ALB,Albania,Durres/ALB,2014,13.854,7.742,36.734,40.000000,40.0,9.000000,NaN,41.31990,19.44920,1
9879,Europe,ALB,Albania,Durres/ALB,2015,17.648,12.595,26.634,79.000000,73.0,84.000000,NaN,41.31990,19.44920,1
9880,Europe,ALB,Albania,Durres/ALB,2016,24.559,14.323,24.785,84.000000,75.0,88.000000,NaN,41.31990,19.44920,1
9881,Europe,ALB,Albania,Durres/ALB,2017,25.516,14.670,23.213,52.000000,46.0,50.000000,NaN,41.31990,19.44920,1

In [35]:
df_processed = df_handle_nulls_4.copy()
df_processed = df_processed.reset_index()

In [36]:
df_processed.head()

,index,who_region,iso3,country_name,city,year,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,population,latitude,longitude,who_ms
0,16488,Eastern_Mediterranean,AFG,Afghanistan,Kabul/AFG,2019,39.701,119.774,14.949,67.311111,18.0,19.056359,4221532.0,34.53581,69.19051,1
1,9878,Europe,ALB,Albania,Durres/ALB,2014,13.854,7.742,36.734,40.000000,40.0,9.000000,NaN,41.31990,19.44920,1
2,9879,Europe,ALB,Albania,Durres/ALB,2015,17.648,12.595,26.634,79.000000,73.0,84.000000,NaN,41.31990,19.44920,1
3,9880,Europe,ALB,Albania,Durres/ALB,2016,24.559,14.323,24.785,84.000000,75.0,88.000000,NaN,41.31990,19.44920,1
4,9881,Europe,ALB,Albania,Durres/ALB,2017,25.516,14.670,23.213,52.000000,46.0,50.000000,NaN,41.31990,19.44920,1

In [39]:
df_processed.drop(columns=["index"], inplace=True)

## Save dataset

In [40]:
df_processed.to_csv("../data/processed.csv")